<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>rrp</name>
	<displayName><![CDATA[RRP Module]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Show the recommended retail price on the product page striked out if it is greater than the price shown to highlight how much a customer is saving.]]></description>
	<author><![CDATA[Peter Fortune]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
